.table
{
  
    text-align:left;
    overflow:hidden;
    //table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;
  
    
}

/*table th
{
    text-align:left;
    background-color:  #C1CDCD;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
   
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 10px;
}*/

/*.table tr:nth-child(odd)
{
    text-align:left;
    background-color: #E8E8E8;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    padding-right: 10px;
    padding-top: 100px;
 
}
.table tr:nth-child(even)
{
    text-align:left;
    background-color: #ffffff;
    font-size: 12px;
    font-family: Helvetica, sans-serif;

     overflow: hidden;
     padding-right: 10px;
     padding-top: 100px;
 
}*/
table td{
     padding-right: 5px;
     padding-top: 5px;  
     padding-left: 2px;
    
}


/*.table tr:hover
{
     background-color:  #C1CDCD;
}*/


.table2
{
  
    text-align:left;
    overflow:hidden;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 10px;
    margin-right: 10px;
    overflow: hidden;

    
}

table2 th
{
    text-align:left;
    background-color:  #C1CDCD;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
   
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 10px;
}

.table2 tr
{
    text-align:left;
    background-color: #FFFFFF;
    font-size: 11px;
    font-family: Helvetica, sans-serif; 
    font-weight: lighter;
    
    border-bottom: 1px solid #c0c0c0;
    
    overflow: hidden;
    padding-right: 10px;
    padding-top: 100px;
 

}

table2 td{
     padding-right: 5px;
     padding-top: 5px;  
     padding-left: 2px;
    
     
}





